<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Document details</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date filed</th>
                <th scope="col" class="govuk-table__header">Type</th>
                <th scope="col" class="govuk-table__header">Description</th>
                <th scope="col" class="govuk-table__header">Fee</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ control.data.dateFiled }}</td>
                    <td class="govuk-table__cell">{{ control.data.type }}</td>
                    <td class="govuk-table__cell">{{ control.data.description }}</td>
                    <td class="govuk-table__cell">{{ control.data.fee }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
