<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 id="item-reference" class="govuk-heading-xl">{{ control.data.itemId }}</h1>
        <h2 class="govuk-heading-m">Item details</h2>
    </div>
</div>

<dl class="govuk-summary-list" id="itemDetailsList">
    {% for itemDetail in control.data.itemDetails %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {{ itemDetail.key }}
            </dt>
            <dd class="govuk-summary-list__value">
                {{ itemDetail.value }}
            </dd>
        </div>
    {% endfor %}
</dl>
